// Sticky footer via Solved By Flexbox

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.page-content {
	flex: 1;
	padding-top: 3em;
	padding-bottom: 3em;
}

// end sticky footer

.site-header, .site-footer {
	@extend %darktheme;
	background: $blue;
	padding-top: 2em;
	padding-bottom: 2em;
}

.site-footer {
	font-size: 1.2rem;
	.wrapper {
		align-items: center;
		justify-content: center;
	}
}

.site-nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.site-links {
	display: flex;
	list-style-type: none;
	font-weight: bold;

	a {
		padding-right: 1em;
	}
}
