// This is a flexbox system that uses margins for gutters instead of padding.
// It uses calc() to compensate for the margins and you can nest the grid.
// With this grid you can set custom padding, box-shadow and background-colors
// on the columns and it'll work as expected unlike the other two grids
// (_hotplate-grid.scss and _hotplate-flex).

img {
	max-width: 100%;
	height: auto;
}


%column {
	@include hmargin($hp-gutter);
	width: calc(100% - #{$hp-gutter * 2});
	flex: 0 0 auto;
	&.wrapper {
		width: 100%;
	}
	.no-flexbox & {
		display: inline-block;
		vertical-align: top;
		font-size: $hp-fontsize;
	}
}



// preset column classes ala bootstrap - granular control of columns

$bp: (
	xxs :1px,
	xs :$xs,
	sm :$sm,
	md :$md,
	lg :$lg,
	xl :$xl,
);

@each $name, $mq in $bp {

	.#{$name}-only {
		display: none;
		@include media(#{$mq}) {
			display: initial;
		}
	}
	.#{$name}-hide {
		display: block;
		@include media(#{$mq}) {
			display: none;
		}
	}

	@for $i from 1 through 12 {
		.col-#{$name}-#{$i} {
			@extend %column;
		}
	}
	@include media(#{$mq}) {
		@for $i from 1 through 12 {
			.col-#{$name}-#{$i} {
				@include fcol(12,$i);
				&.wrapper {
					@include col(12,$i);
				}
			}
		}
	}

}

// preset column classes ala skeleton - < tablet = 1 col
// this is just the same thing as .col-md-*
@for $i from 1 through 12 {
	.col-#{$i} {
		@extend .col-md-#{$i};
	}
}

// column that fills remain horz space
.col-fill {
	@include hmargin($hp-gutter);
	flex: 1;
}

// Nested columns: use this class on a column that contains columns
.has-col {
	@include hmargin(0);
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	.no-flexbox & {
		font-size: 0;
	}
}

.wrapper {
	// @include hpad($hp-gutter); // add the same gutter space to the left and right sides of the browser. Optional.
	@include hmargin(auto); // horizontally center in browser
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: $lg;

	hr {
		@include hmargin($hp-gutter);
		width: 100%;
	}

	.no-flexbox & {
		font-size: 0;
	}

	.wrapper {
		@include hmargin(0);
		@include hpad(0);
		max-width: 100%;
		align-content: flex-start;
		display: flex;
		flex-wrap: wrap;

		.no-flexbox & {
			font-size: 0;
		}

	}
}

