// This grid behaves much like the inline-block grid - using padding for gutters.
// It should be compatible with the old grid.

img {
	max-width: 100%;
	height: auto;
}


%column {
	@include hpad($hp-gutter);
	width: 100%;
	flex: 0 0 auto;
}



// preset column classes ala bootstrap - granular control of columns

$bp: (
	xxs :$xxs,
	xs :$xs,
	sm :$sm,
	md :$md,
	lg :$lg,
	xl :$xl,
);

@each $name, $mq in $bp {

	@for $i from 1 through 12 {
		.col-#{$name}-#{$i} {
			@extend %column;
		}
	}
	@include media(#{$mq}) {
		@for $i from 1 through 12 {
			.col-#{$name}-#{$i} {
				@include col(12,$i);
			}
		}
	}

}

// preset column classes ala skeleton - < tablet = 1 col
// this is just the same thing as .col-md-*
@for $i from 1 through 12 {
	.col-#{$i} {
		@extend .col-md-#{$i};
	}
}

// Nested columns: use this class on a column that contains columns
// @extend this on the parent of @column
// Effectively acts like a .row in other frameworks
// This removes inline-block whitespace.
// We can't use 0 because of Ice Cream Sandwich
%has-col {
	display: flex;
	flex-wrap: wrap;
}

.has-col {
	@extend %has-col;
	@include hpad(0);
}

.wrapper {
	@extend %has-col;
	@include hmargin(auto);
	@include hpad($hp-gutter);
	max-width: $lg;

	hr {
		@include hmargin($hp-gutter);
		width: 100%;
	}
}


