%has-column {
	// @include this on the parent of @column
	// Effectively acts like a .row in other frameworks
	font-size: 0.001px; // can't use 0 because of Ice Cream Sandwich
	img {
		max-width: 100%;
		height: auto;
	}
}

.container {
	@extend %has-column;
	max-width: $hp-bp--desktopb;
	text-align: center; // center your columns
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	@extend .container;
	padding-left: $hp-gutter;
	padding-right: $hp-gutter;
}

%column {
	font-size: $hp-fontsize;
	padding-left: $hp-gutter;
	padding-right: $hp-gutter;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 100%;
}



// preset column classes ala bootstrap - granular control of columns

$bp: (
	xxs :$xxs,
	xs :$xs,
	sm :$sm,
	md :$md,
	lg :$lg,
	xl :$xl,
);

@each $name, $mq in $bp {

	@for $i from 1 through 12 {
		.col-#{$name}-#{$i} {
			@extend %column;
		}
	}
	@include media(#{$mq}) {
		@for $i from 1 through 12 {
			.col-#{$name}-#{$i} {
				@include column(12,$i);
			}
		}
	}

}

// preset column classes ala skeleton - < tablet = 1 col
// this is just the same thing as .col-md-*
@for $i from 1 through 12 {
	.col-#{$i} {
		@extend .col-md-#{$i};
	}
}