// html element styling
// & base typograpy

html {
	@extend %lighttheme;
	box-sizing: border-box;
	background: #fff;
	font: 200 #{$hp-basefontsize}/1.6 $hp-fonts;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-size: $hp-mobilefontsize;
	@include media($lg) {
		font-size: $hp-fontsize;
	}
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid;
	border-color: inherit;
	padding: .5em 1em;
}


// headline scale
// @for $i from 1 through 6 {
// 	h#{$i} {
// 		font-size: #{(7 - $i)*.1 * (7 - $i)*.6 + 1}em;
// 	}
// }

// remove white-space on top, add on bottom:
@include headlines {
	// line-height: 1.1;
	margin: 0 0 .5rem 0;
	letter-spacing: -.01em;

	a {
	text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}



// add white-space on top when following content:
p,ol,ul,dl,table,img,code,pre,blockquote,hr {
	margin: $hp-fontsize 0;
	&+h1,&+h2,&+h3,&+h4,&+h5,&+h6 {
		margin-top: $hp-fontsize;
	}
}

ul {
	padding-left: 1.125em;
}


// IE FIXES

svg:not(:root) { overflow: hidden; }
