%lighttheme {
	color: #444;
	a {
		&:link, &:visited {
			color: $dkred;
		}
		&:hover {
			color: lighten($dkred, 10%);
		}
		&:active {
			color: $dkred;
		}
	}

	input {
		color: currentColor;
	}

	* {
		border-color: #fff;
	}
}

%darktheme {
	color: #fff;
	a {
		&:link, &:visited {
			color: lighten($red, 50%);
		}
		&:hover {
			color: lighten($red, 50%);
		}
		&:active {
			color: lighten($red, 50%);
		}
	}

	input {
		color: currentColor;
	}

	* {
		border-color: #444;
	}
}

