%lighttheme {
	color: #444;
	a {
		&:link, &:visited {
			color: #8bcfad;
		}
		&:hover {
			color: darken(#8bcfad, 10%);
		}
		&:active {
			color: #8bcfad;
		}
	}

	input {
		color: currentColor;
	}

	* {
		border-color: #fff;
	}
}

%darktheme {
	color: #fff;
	a {
		&:link, &:visited {
			color: #d8cf76;
		}
		&:hover {
			color: darken(#d8cf76, 10%);
		}
		&:active {
			color: #d8cf76;
		}
	}

	input {
		color: currentColor;
	}

	* {
		border-color: #444;
	}
}

#ic_face_black_24px {
	fill: red;
}
