// Converted Variables
// Custom Media Query Variables
/*

BORDER STYLES
Docs: http://tachyons.io/docs/themes/borders/

Depends on base border module in _borders.css

Base:
	b = border-style

Modifiers:
	--none   = none
	--dotted = dotted
	--dashed = dashed
	--solid  = solid

Media Query Extensions:
	-ns = not-small
	-m  = medium
	-l  = large

*/


.b--dotted#{$sfx} {
	border-style: dotted;
}
.b--dashed#{$sfx} {
	border-style: dashed;
}
.b--solid#{$sfx} {
	border-style: solid;
}
.b--none#{$sfx} {
	border-style: none;
}
