// Converted Variables
// Custom Media Query Variables
/*

  CLEARFIX
  http://tachyons.io/docs/layout/clearfix/

*/

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

@include gen {
  .cl#{$sfx} {
    clear: left;
  }
  .cr#{$sfx} {
    clear: right;
  }
  .cb#{$sfx} {
    clear: both;
  }
  .cn#{$sfx} {
    clear: none;
  }
}