// Converted Variables
// Custom Media Query Variables
/*

  LINE HEIGHT / LEADING
  Docs: http://tachyons.io/docs/typography/line-height

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

@include gen {
  .lh-solid#{$sfx} {
    line-height: $line-height-solid;
  }
  .lh-title#{$sfx} {
    line-height: $line-height-title;
  }
  .lh-copy#{$sfx} {
    line-height: $line-height-copy;
  }
}