// Converted Variables
// Custom Media Query Variables
/*

  OUTLINES

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

@include gen {
  .outline#{$sfx} {
    outline: 1px solid;
  }
  .outline-transparent#{$sfx} {
    outline: 1px solid transparent;
  }
  .outline-0#{$sfx} {
    outline: 0;
  }
}