// Converted Variables
// Custom Media Query Variables
/*

    SKINS
    Docs: http://tachyons.io/docs/themes/skins/

    Classes for setting foreground and background colors on elements.
    If you haven't declared a border color, but set border on an element, it will
    be set to the current text color.

*/

/* Text colors */
@include range(black, color);
@include range(white, color);

@each $key, $val in cfg(colors) {
    .#{$key} {
        color: $val;
    }
}

/* Background colors */
@include range(black, background-color,'bg-');
@include range(white, background-color,'bg-');

@each $key, $val in cfg(colors) {
    .bg-#{$key} {
        background-color: $val;
    }
}

/* SVG fill colors */
@each $key, $val in cfg(colors) {
    .fill-#{$key} {
        fill: $val;
    }
}

/* SVG stroke colors */
@each $key, $val in cfg(colors) {
    .stroke-#{$key} {
        stroke: $val;
    }
}
