// Converted Variables
// Custom Media Query Variables
/*

  SKINS:PSEUDO

  Customize the color of an element when
  it is focused or hovered over.

 */

 @each $key, $val in cfg(colors) {
  .hover-#{$key}:hover,
  .hover-#{$key}:focus {
    color: $val;
  }
  .hover-bg-#{$key}:hover,
  .hover-bg-#{$key}:focus {
    background-color: $val;
  }
}

@for $i from 1 through 9 {
  .hover-bg-black-#{$i*10} {
    &:hover, &:focus {
      background-color: rgba(c(black), $i/10);
    }
  }
}
@each $sfx, $val in ('05':.05, '025':.025, '0125':.0125 ) {
  .hover-bg-black-#{$sfx} {
    &:hover, &:focus {
      background-color: rgba(c(black), $val);
    }
  }
}
@for $i from 1 through 9 {
  .hover-bg-white-#{$i*10} {
    &:hover, &:focus {
      background-color: rgba(c(white), $i/10);
    }
  }
}
@each $sfx, $val in ('05':.05, '025':.025, '0125':.0125 ) {
  .hover-bg-white-#{$sfx} {
    &:hover, &:focus {
      background-color: rgba(c(white), $val);
    }
  }
}


// .hover-bg-black-90:hover,
// .hover-bg-black-90:focus {
//   background-color: $black-90;
// }

// .hover-bg-black-80:hover,
// .hover-bg-black-80:focus {
//   background-color: $black-80;
// }

// .hover-bg-black-70:hover,
// .hover-bg-black-70:focus {
//   background-color: $black-70;
// }

// .hover-bg-black-60:hover,
// .hover-bg-black-60:focus {
//   background-color: $black-60;
// }

// .hover-bg-black-50:hover,
// .hover-bg-black-50:focus {
//   background-color: $black-50;
// }

// .hover-bg-black-40:hover,
// .hover-bg-black-40:focus {
//   background-color: $black-40;
// }

// .hover-bg-black-30:hover,
// .hover-bg-black-30:focus {
//   background-color: $black-30;
// }

// .hover-bg-black-20:hover,
// .hover-bg-black-20:focus {
//   background-color: $black-20;
// }

// .hover-bg-black-10:hover,
// .hover-bg-black-10:focus {
//   background-color: $black-10;
// }

// .hover-bg-white-90:hover,
// .hover-bg-white-90:focus {
//   background-color: $white-90;
// }

// .hover-bg-white-80:hover,
// .hover-bg-white-80:focus {
//   background-color: $white-80;
// }

// .hover-bg-white-70:hover,
// .hover-bg-white-70:focus {
//   background-color: $white-70;
// }

// .hover-bg-white-60:hover,
// .hover-bg-white-60:focus {
//   background-color: $white-60;
// }

// .hover-bg-white-50:hover,
// .hover-bg-white-50:focus {
//   background-color: $white-50;
// }

// .hover-bg-white-40:hover,
// .hover-bg-white-40:focus {
//   background-color: $white-40;
// }

// .hover-bg-white-30:hover,
// .hover-bg-white-30:focus {
//   background-color: $white-30;
// }

// .hover-bg-white-20:hover,
// .hover-bg-white-20:focus {
//   background-color: $white-20;
// }

// .hover-bg-white-10:hover,
// .hover-bg-white-10:focus {
//   background-color: $white-10;
// }