// Converted Variables
// Custom Media Query Variables
/* Variables */

/*
  SPACING
  Docs: http://tachyons.io/docs/layout/spacing/

  An eight step powers of two scale ranging from 0 to 16rem.

  Base:
    p = padding
    m = margin

  Modifiers:
    a = all
    h = horizontal
    v = vertical
    t = top
    r = right
    b = bottom
    l = left

    0 = none
    1 = 1st step in spacing scale
    2 = 2nd step in spacing scale
    3 = 3rd step in spacing scale
    4 = 4th step in spacing scale
    5 = 5th step in spacing scale
    6 = 6th step in spacing scale
    7 = 7th step in spacing scale

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

@include gen {
  .pa0#{$sfx} {
    padding: $spacing-none;
  }
  .pa1#{$sfx} {
    padding: $spacing-extra-small;
  }
  .pa2#{$sfx} {
    padding: $spacing-small;
  }
  .pa3#{$sfx} {
    padding: $spacing-medium;
  }
  .pa4#{$sfx} {
    padding: $spacing-large;
  }
  .pa5#{$sfx} {
    padding: $spacing-extra-large;
  }
  .pa6#{$sfx} {
    padding: $spacing-extra-extra-large;
  }
  .pa7#{$sfx} {
    padding: $spacing-extra-extra-extra-large;
  }
  .pl0#{$sfx} {
    padding-left: $spacing-none;
  }
  .pl1#{$sfx} {
    padding-left: $spacing-extra-small;
  }
  .pl2#{$sfx} {
    padding-left: $spacing-small;
  }
  .pl3#{$sfx} {
    padding-left: $spacing-medium;
  }
  .pl4#{$sfx} {
    padding-left: $spacing-large;
  }
  .pl5#{$sfx} {
    padding-left: $spacing-extra-large;
  }
  .pl6#{$sfx} {
    padding-left: $spacing-extra-extra-large;
  }
  .pl7#{$sfx} {
    padding-left: $spacing-extra-extra-extra-large;
  }
  .pr0#{$sfx} {
    padding-right: $spacing-none;
  }
  .pr1#{$sfx} {
    padding-right: $spacing-extra-small;
  }
  .pr2#{$sfx} {
    padding-right: $spacing-small;
  }
  .pr3#{$sfx} {
    padding-right: $spacing-medium;
  }
  .pr4#{$sfx} {
    padding-right: $spacing-large;
  }
  .pr5#{$sfx} {
    padding-right: $spacing-extra-large;
  }
  .pr6#{$sfx} {
    padding-right: $spacing-extra-extra-large;
  }
  .pr7#{$sfx} {
    padding-right: $spacing-extra-extra-extra-large;
  }
  .pb0#{$sfx} {
    padding-bottom: $spacing-none;
  }
  .pb1#{$sfx} {
    padding-bottom: $spacing-extra-small;
  }
  .pb2#{$sfx} {
    padding-bottom: $spacing-small;
  }
  .pb3#{$sfx} {
    padding-bottom: $spacing-medium;
  }
  .pb4#{$sfx} {
    padding-bottom: $spacing-large;
  }
  .pb5#{$sfx} {
    padding-bottom: $spacing-extra-large;
  }
  .pb6#{$sfx} {
    padding-bottom: $spacing-extra-extra-large;
  }
  .pb7#{$sfx} {
    padding-bottom: $spacing-extra-extra-extra-large;
  }
  .pt0#{$sfx} {
    padding-top: $spacing-none;
  }
  .pt1#{$sfx} {
    padding-top: $spacing-extra-small;
  }
  .pt2#{$sfx} {
    padding-top: $spacing-small;
  }
  .pt3#{$sfx} {
    padding-top: $spacing-medium;
  }
  .pt4#{$sfx} {
    padding-top: $spacing-large;
  }
  .pt5#{$sfx} {
    padding-top: $spacing-extra-large;
  }
  .pt6#{$sfx} {
    padding-top: $spacing-extra-extra-large;
  }
  .pt7#{$sfx} {
    padding-top: $spacing-extra-extra-extra-large;
  }
  .pv0#{$sfx} {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .pv1#{$sfx} {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .pv2#{$sfx} {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .pv3#{$sfx} {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .pv4#{$sfx} {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .pv5#{$sfx} {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .pv6#{$sfx} {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .pv7#{$sfx} {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }
  .ph0#{$sfx} {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .ph1#{$sfx} {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .ph2#{$sfx} {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .ph3#{$sfx} {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .ph4#{$sfx} {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .ph5#{$sfx} {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .ph6#{$sfx} {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .ph7#{$sfx} {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }
  .ma0#{$sfx} {
    margin: $spacing-none;
  }
  .ma1#{$sfx} {
    margin: $spacing-extra-small;
  }
  .ma2#{$sfx} {
    margin: $spacing-small;
  }
  .ma3#{$sfx} {
    margin: $spacing-medium;
  }
  .ma4#{$sfx} {
    margin: $spacing-large;
  }
  .ma5#{$sfx} {
    margin: $spacing-extra-large;
  }
  .ma6#{$sfx} {
    margin: $spacing-extra-extra-large;
  }
  .ma7#{$sfx} {
    margin: $spacing-extra-extra-extra-large;
  }
  .ml0#{$sfx} {
    margin-left: $spacing-none;
  }
  .ml1#{$sfx} {
    margin-left: $spacing-extra-small;
  }
  .ml2#{$sfx} {
    margin-left: $spacing-small;
  }
  .ml3#{$sfx} {
    margin-left: $spacing-medium;
  }
  .ml4#{$sfx} {
    margin-left: $spacing-large;
  }
  .ml5#{$sfx} {
    margin-left: $spacing-extra-large;
  }
  .ml6#{$sfx} {
    margin-left: $spacing-extra-extra-large;
  }
  .ml7#{$sfx} {
    margin-left: $spacing-extra-extra-extra-large;
  }
  .mr0#{$sfx} {
    margin-right: $spacing-none;
  }
  .mr1#{$sfx} {
    margin-right: $spacing-extra-small;
  }
  .mr2#{$sfx} {
    margin-right: $spacing-small;
  }
  .mr3#{$sfx} {
    margin-right: $spacing-medium;
  }
  .mr4#{$sfx} {
    margin-right: $spacing-large;
  }
  .mr5#{$sfx} {
    margin-right: $spacing-extra-large;
  }
  .mr6#{$sfx} {
    margin-right: $spacing-extra-extra-large;
  }
  .mr7#{$sfx} {
    margin-right: $spacing-extra-extra-extra-large;
  }
  .mb0#{$sfx} {
    margin-bottom: $spacing-none;
  }
  .mb1#{$sfx} {
    margin-bottom: $spacing-extra-small;
  }
  .mb2#{$sfx} {
    margin-bottom: $spacing-small;
  }
  .mb3#{$sfx} {
    margin-bottom: $spacing-medium;
  }
  .mb4#{$sfx} {
    margin-bottom: $spacing-large;
  }
  .mb5#{$sfx} {
    margin-bottom: $spacing-extra-large;
  }
  .mb6#{$sfx} {
    margin-bottom: $spacing-extra-extra-large;
  }
  .mb7#{$sfx} {
    margin-bottom: $spacing-extra-extra-extra-large;
  }
  .mt0#{$sfx} {
    margin-top: $spacing-none;
  }
  .mt1#{$sfx} {
    margin-top: $spacing-extra-small;
  }
  .mt2#{$sfx} {
    margin-top: $spacing-small;
  }
  .mt3#{$sfx} {
    margin-top: $spacing-medium;
  }
  .mt4#{$sfx} {
    margin-top: $spacing-large;
  }
  .mt5#{$sfx} {
    margin-top: $spacing-extra-large;
  }
  .mt6#{$sfx} {
    margin-top: $spacing-extra-extra-large;
  }
  .mt7#{$sfx} {
    margin-top: $spacing-extra-extra-extra-large;
  }
  .mv0#{$sfx} {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .mv1#{$sfx} {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .mv2#{$sfx} {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .mv3#{$sfx} {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .mv4#{$sfx} {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .mv5#{$sfx} {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .mv6#{$sfx} {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .mv7#{$sfx} {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }
  .mh0#{$sfx} {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .mh1#{$sfx} {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .mh2#{$sfx} {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .mh3#{$sfx} {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .mh4#{$sfx} {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .mh5#{$sfx} {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .mh6#{$sfx} {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .mh7#{$sfx} {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }
}