// Converted Variables
// Custom Media Query Variables
/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

.collapse {
  border-collapse: collapse;
  border-spacing: 0;
}

@each $key, $val in cfg(tablestripe_odd) {
  .striped--#{$key}:nth-child(odd) {
    background-color: $val;
  }
}