// Converted Variables
// Custom Media Query Variables
/*

  TEXT TRANSFORM
  Docs: http://tachyons.io/docs/typography/text-transform/

  Base:
    tt = text-transform

  Modifiers
    c = capitalize
    l = lowercase
    u = uppercase
    n = none

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

@include gen {
  .ttc#{$sfx} {
    text-transform: capitalize;
  }
  .ttl#{$sfx} {
    text-transform: lowercase;
  }
  .ttu#{$sfx} {
    text-transform: uppercase;
  }
  .ttn#{$sfx} {
    text-transform: none;
  }
}