// Converted Variables
// Custom Media Query Variables
/*

  TEXT DECORATION
  Docs: http://tachyons.io/docs/typography/text-decoration/


  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

@include gen {
  .strike#{$sfx} {
    text-decoration: line-through;
  }
  .underline#{$sfx} {
    text-decoration: underline;
  }
  .no-underline#{$sfx} {
    text-decoration: none;
  }
}