$cfg: (
    fonts: (
        sans-serif: "-apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif",
        serif: "georgia, serif",
        code: "consolas, monaco, monospace",
        courier: "'Courier Next', courier, monospace",
        helvetica: "'helvetica neue', helvetica, sans-serif",
        avenir: "'avenir next', avenir, sans-serif",
        athelas: "athelas, georgia, serif",
        georgia: "georgia, serif",
        times: "times, serif",
        bodini: "'Bodoni MT', serif",
        calisto: "'Calisto MT', serif",
        garamond: "garamond, serif",
        baskerville: "baskerville, serif",
    ),

    font_size_headline: 6rem,
    font_size_subheadline: 5rem,

    font_sizes: (
        4rem,
        2.25rem,
        1.5rem,
        1.25rem,
        1rem,
        .875rem,
        .75rem,
    ),

    colors: (
        black: #000,
        blue: #357edd,
        dark-blue: #00449e,
        dark-gray: #333,
        dark-green: #137752,
        dark-pink: #d5008f,
        dark-red: #e7040f,
        gold: #ffb700,
        gray: #777,
        green: #19a974,
        hot-pink: #ff41b4,
        light-blue: #96ccff,
        light-gray: #eee,
        light-green: #9eebcf,
        light-pink: #ffa3d7,
        light-purple: #a463f2,
        light-red: #ff725c,
        light-silver: #aaa,
        light-yellow: #fbf1a9,
        lightest-blue: #cdecff,
        mid-gray: #555,
        moon-gray: #ccc,
        navy: #001b44,
        near-black: #111,
        near-white: #f4f4f4,
        orange: #ff6300,
        pink: #ff80cc,
        purple: #5e2ca5,
        red: #ff4136,
        silver: #999,
        transparent: transparent,
        washed-blue: #f6fffe,
        washed-green: #e8fdf5,
        washed-red: #ffdfdf,
        washed-yellow: #fffceb,
        white: #fff,
        yellow: #ffd700,
    ),

    letter_spacing: (
        tight: -.05em,
        1: .1em,
        2: .25em,
    ),

    line_height: (
        solid: 1,
        headline: 1.25,
        copy: 1.5,
    ),

    // measure widths
    measure: (
        measure: 30em,
        measure-narrow: 20em,
        measure-wide: 34em,
    ),

    // margins, negative margins, padding
    spacing: (
        none: 0,
        extra-small: .25rem,
        small: .5rem,
        medium: 1rem,
        large: 2rem,
        extra-large: 4rem,
        extra-extra-large: 8rem,
        extra-extra-extra-large: 16rem,
    ),

    // White-space between paragraphs:
    copy-separator: 1.5em,

    // heights, min-heights
    height: (
        1: 1rem,
        2: 2rem,
        3: 4rem,
        4: 8rem,
        5: 16rem,
    ),

    // widths , min-widths
    width: (
        1: 1rem,
        2: 2rem,
        3: 4rem,
        4: 8rem,
        5: 16rem,
        6: 32rem,
        7: 48rem,
        8: 64rem,
        9: 96rem,
    ),

    border_radius: (
        0: 0,
        1: .125rem,
        2: .25rem,
        3: .5rem,
        4: 1rem,
        circle: 100%,
        pill: 9999px,
    ),

    border_width: (
        0: 0,
        1: .125rem,
        2: .25rem,
        3: .5rem,
        4: 1rem,
        5: 2rem,
    ),

    box_shadow: (
        1: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 ),
        2: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 ),
        3: 2px 2px 4px 2px rgba( 0, 0, 0, 0.2 ),
        4: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 ),
        5: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ),
    ),

    breakpoint: (
        ns: 'screen and (min-width: 30em)',
        m: 'screen and (min-width: 30em) and (max-width: 60em)',
        l: 'screen and (min-width: 60em)',
    ),

    // eg (16, 9) will create .aspect-ratio--16x9
    aspect_ratios: (
        (16, 9),
        (9, 16),
        (4, 3),
        (3, 4),
        (6, 4),
        (8, 5),
        (5, 8),
        (7, 5),
        (5, 7),
        (1, 1),
    ),
);

//
// # Extend $cfg with maps that reference $cfg(colors):
//

$cfg: map-merge($cfg, (nested_links: (
    nested-links: c(blue),
    nested-links-hover-focus: c(light-blue),
)));

$cfg: map-merge($cfg, (tablestripe_odd: (
    light-silver: c(light-silver),
    moon-gray: c(moon-gray),
    light-gray: c(light-gray),
    near-white: #f4f4f4,
    light: rgba(255,255,255,.1),
    dark: rgba(0,0,0,.1),
)));
