// Converted Variables
// Custom Media Query Variables
/*

  WHITE SPACE

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

@include gen {
  .ws-normal#{$sfx} {
    white-space: normal;
  }
  .nowrap#{$sfx} {
    white-space: nowrap;
  }
  .pre#{$sfx} {
    white-space: pre;
  }
}