.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sticky {
    position: sticky;
}

.icon {
    fill: currentColor; // vertical-align: -.15em;
}

svg.svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -.15em;
    &--wider {
        width: 2em;
    }
}

.compactmargins {
    &>* {
        @include vmargin(0);
    }
}

.childmargins {
    &>*:first-child {
        margin-top: 0;
    }
    &>*:last-child {
        margin-bottom: 0;
    }
}

.inlinelist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        display: inline;
        margin: 1em 0;
        padding: 0;
    }
}