// html element styling
// & base typograpy

html {
	box-sizing: border-box;
	font: #{$hp-basefontsize}/1.6 $hp-fonts;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-size: $hp-mobilefontsize;
	@include media(lg) {
		font-size: $hp-fontsize;
	}
}

img {
	max-width: 100%;
	height: auto;
}

table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid;
	border-color: inherit;
	padding: .5em 1em;
}

// Consistent margins using rems and not the default ems
@include headlines {
	margin: 2rem 0;
}

p,ol,ul,dl,table,img,code,pre,blockquote,hr {
	margin: 2rem 0;
}

ul {
	padding-left: 1.125em;
}

hr {
	border: 0;
	border-top: 1px solid currentColor;
	opacity: .2;
}

svg {
	fill: currentColor;
}

// IE FIXES - this is now in normalize:
// svg:not(:root) { overflow: hidden; }
