@mixin clearfix() {
	& {
		*zoom: 1;
	}
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Style all the headlines
@mixin headlines {
	h1,h2,h3,h4,h5,h6 {
		@content;
	}
}

@function cfg($key, $map: $cfg) {
	@return map-get($map, $key);
}

// return color from $colors;
// eg color: c(white);
@function c($colorname) {
    @return map-get($colors, $colorname);
}

// Generate Media Queried Classes
// Eg
// @include gen() {
//   .switch#{$sfx} {
//     color: blue;
//   }
//   .qbert#{$sfx} {
//     background: red;
//   }
// }
// Output
// .switch {
// 	color: blue;
//   }
//   .qbert {
// 	background: red;
//   }
//   @media (min-width: 480px) {
// 	.switch-xs {
// 	  color: blue;
// 	}
// 	.qbert-xs {
// 	  background: red;
// 	}
//   }
//   @media (min-width: 620px) {
// 	.switch-sm {
// 	  color: blue;
// 	}
// 	.qbert-sm {
// 	  background: red;
// 	}
//   }

$sfx: '';
@mixin gen($map: $mq) {
	$sfx: '' !global;
	@content;
	@each $name, $val in $map {
		$sfx: '-'+$name !global;
		@include media(#{$val}) {
			@content;
		}	
	}
}

$value: '';
@mixin gen2($map) {
	@each $name, $val in $map {
		$sfx: $name !global;
		$value: $val !global;
		@content;
	}
}

@mixin range($color, $rule, $sfx: '') {
	@for $i from 1 through 9 {
		.#{$sfx}#{$color}-#{$i*10} {
			#{$rule}: rgba(c($color), $i/10);
		}
	}
}