%lighttheme {
	color: c(ltgray);
	a {
		&:link, &:visited {
			color: c(blue);
		}
		&:hover {
			color: lighten(c(blue), 10%);
		}
		&:active {
			color: c(blue);
		}
	}

	input {
		color: currentColor;
	}

	* {
		border-color: #fff;
	}
}

%darktheme {
	color: #fff;
	a {
		&:link, &:visited {
			color: lighten(c(red), 50%);
		}
		&:hover {
			color: lighten(c(red), 50%);
		}
		&:active {
			color: lighten(c(red), 50%);
		}
	}

	input {
		color: currentColor;
	}

	* {
		border-color: #444;
	}
}

