// Convention:
// - single column
// - labels are left align and above the input
  form {
    max-width: 600px;
    margin: 0 auto;
  }

  fieldset {
    padding: 1em 1em;
    margin: 1em 0;
  }

  legend {
    padding: 0;
    font-weight: bold;
    font-size: 1.2em;
  }

  label {
    display: block;
    margin: 1em 0;

    b {
      //font-weight: normal;
    }

    // can I use :not here?
    textarea, select, input[type="text"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"], input[type="password"], input[type="color"], input[type="file"], input[type="color"], input[type="number"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"] {
      display: block;
      width: 100%; // good?
    }
  }

  textarea, select, input[type="text"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"], input[type="password"], input[type="color"], input[type="file"], input[type="color"], input[type="number"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"] {
      margin: .2em 0;
      padding: .25em .4em;
      border: 1px solid #ddd;
      width: 100%; // ????
  }

  input[type="search"] {
    box-sizing: border-box;
  }

  input[type="file"] {
    border-width: 0;
    padding: 0;
  }


  input[type="image"] {
    vertical-align: bottom;
  }

  p[class*="comment-"] {
    margin: 1.5em 0;

    label {
      margin: 0;
    }
    textarea, select, input[type="text"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"], input[type="password"], input[type="color"], input[type="file"], input[type="color"], input[type="number"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"] {
      display: block;
      width: 100%; // good?
      margin: 0;
    }
  }


