$bp-xs: 320px;
$bp-sm: 480px;
$bp-md: 600px;
$bp-lg: 768px;
$bp-xl: 960px;
$bp-xxl: 1140px;

$gutter: 20px;

$col-names: 'xs', 'sm', 'md', 'lg', 'xl', 'xxl';
$col-sizes: 320, 480, 600, 768, 960, 1140;

.cols {
	display: flex;
	flex-wrap: wrap;
}
.contained {
	margin-left: auto;
	margin-right: auto;
	max-width: $bp-xl;
}

.col {
	flex: 0 0 calc(100% - #{$gutter * 2});
	margin-left: $gutter;
	margin-right: $gutter;
}

@each $item in $col-names {

	$idx: index($col-names, $item);

	@media (min-width: #{nth($col-sizes, $idx)}px) {
		@for $i from 1 through 12 {
			.#{$item}#{$i} {
				flex: 0 0 calc(#{100% * $i / 12} - #{$gutter * 2});
				margin-left: $gutter;
				margin-right: $gutter;
			}
		}
	}
}

