// %nestedcolumn {
// 	font-size: $hp-fontsize;
// 	text-align: left;

// 	img {
// 		max-width: 100%;
// 		height: auto;
// 	}
// }
.container {
	@include has-column;
	max-width: $hp-bp--desktopb;
	text-align: center; // center your columns
	margin-left: auto;
	margin-right: auto;
}
.wrapper {
	@extend .container;
	padding-left: $hp-gutter;
	padding-right: $hp-gutter;
}

%column {
	font-size: $hp-fontsize;
	text-align: left;
	padding-left: $hp-gutter;
	padding-right: $hp-gutter;
	vertical-align: top;
	// display: inline-block;
	// width: 100%;
}






// preset column classes ala bootstrap, 960gs
@for $i from 1 through 12 {
	.col-#{$i} {
		@extend %column;
	}
}
@include media {
	@for $i from 1 through 11 {
		.col-#{$i} {
			@include column(12,$i);
		}
	}
}

$bp: (
	xxs :$xxs,
	xs :$xs,
	sm :$sm,
	md :$md,
	lg :$lg,
	xl :$xl,
);


@each $name, $mq in $bp {

	@for $i from 1 through 12 {
		.col-#{$name} {
			@extend %column;
		}
	}
	@include media(#{$mq}) {
		@for $i from 1 through 11 {
			.col-#{$name}-#{$i} {
				@include column(12,$i);
			}
		}
	}

}
