// hotplate variables
$hp-gutter: 1.25rem;
$hp-basefontsize: 16px;
$hp-fontsize: 1rem;

// breakpoints
$hp-bp--desktopb: 1140px;
$hp-bp--desktop: 960px;
$hp-bp--tablet: 768px;
$hp-bp--phablet: 480px;
$hp-bp--phoneh: 480px;
$hp-bp--phone: 320px;